{% extends 'base.html' %}
{% block content%}

{% include 'alerts.html' %}
  <main style="background-color: #edeff0;">
    <div class="container mt-3 p-0" style="background-color: #ede3e3;">
      <div class="row">
          <div class="col-12">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="false" style="background-color: #e9ecef;">
                  <ol class="carousel-indicators">
                      {% for category in categories %}
                      <li data-target="#carouselExampleControls" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} style="background-color: #007bff;"></li>
                      {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                      {% for category in categories %}
                      <div class="carousel-item {% if forloop.first %}active{% endif %}">
                          <img class="d-block w-100 img-fluid" src="{{ category.image.url }}" alt="{{ category.name }}" style="max-height: 50vh; height: auto;">
                      </div>
                      {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true" style="color: #fd7e14;"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true" style="color: #fd7e14;"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
      </div>  
      <hr>
      <h2 class="text-center text-primary">Categories</h2>
      <hr>
      <div class="container mt-3">
        <div id="categoryCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
          <div class="carousel-inner">
            {% for category in categories %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="row justify-content-center">
                <div class="col d-flex justify-content-center align-items-center">
                  <img src="{{ category.image.url }}" class="rounded-circle border border-primary" alt="{{ category.name }}" style="width: 20%; height: auto;">
                  <div class="media-body text-center ml-3">
                    <h4 class="text-success">{{ category.name }}</h4>
                    <h5 class="mt-0 mb-1 text-secondary">{{ category.num_items }} Items</h5>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#categoryCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#categoryCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      

<hr>
<h2 class="text-center text-primary mb-4">PRODUCTS</h2>
<div class="container bg-light p-4 rounded">
    <div class="scrolling-wrapper">
        <div class="row flex-nowrap">
            {% for item in items %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-3">
                    {% if item.image %}
                    <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.name }}" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <div>
                            <a href="{% url 'item:item_detail' item.id %}" class="btn btn-primary mb-2">Details</a>
                            {% if user.role == 2 %}
                            <form action="{% url 'cart:add_to_cart' item.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Add to Cart</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- Auctions Section -->
{% if auction_items %}
<hr>
<h2 class="text-center mb-4">Auctions</h2>
<div class="container bg-light p-4 rounded">
    <div class="row">
        {% for item in auction_items %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-3">
                {% if item.image %}
                <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.item_name }}" style="height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">{{ item.item_name }}</h5>
                    <a href="{% url 'auctions:AuctionItem_detail' item.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="container text-white bg-dark p-4" id="AboutUs">
  <div class="row">
      <div class="col-md-8 col-lg-7">
          <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                  <ul class="list-unstyled">
                      <li><a href="{% url 'About_Us' %}" class="text-white">About Our Company</a></li>
                      {% if user.is_authenticated %}
                      <li><a class="text-white" href="{% url 'auctions:add_auction_product' %}">Add Auction Item</a></li>
                      <li><a class="text-white" href="{% url 'auctions:my_auction_list' %}">My Auctions</a></li>
                      {% if user.role == 0 %}
                      <li><a href="{% url 'super_dashboard'  %}" class="text-white">Dashboard</a></li>
                      {% elif user.role == 1 %}
                      <li><a href="{% url 'seller_dashboard'  %}" class="text-white">Dashboard</a></li>
                      <li><a href=" {% url 'SellerProfile' %}" class="text-white">ProfileEdit</a></li>
                      {% elif user.role == 2 %}
                      <li><a href="{% url 'Costumer_dashboard' %}" class="text-white">Dashboard</a></li>
                      <li><a href=" {% url 'CustomerProfile' %}" class="text-white">ProfileEdit</a></li>
                      {% endif %}
                      {% endif %}
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-lg-5">
          <div>
              <strong>User Name:</strong> {{ user.first_name }} {{ user.last_name }}<br>
              <strong>Role:</strong> {{ user.role }}<br>
              <strong>Phone Number:</strong> {{ user.phone_number }}<br>
              <strong>User Email:</strong><br>
              <a href="mailto:{{ user.email }}" class="text-white">{{ user.email }}</a>
          </div>
      </div>
  </div>
</div>

  </main>
  {% endblock %}