<style>
    .nav-link-enhanced:hover {
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); /* Adds a subtle shadow effect for dark backgrounds */
      transition: box-shadow 0.3s; /* Smooth transition for the shadow */
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'index' %}">AuctionHouse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-enhanced text-white" href="{% url 'auctions:auction_list' %}">Auction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-enhanced text-white" href="{% url 'item:item_list' %}">Products</a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.role == 1 or user.role == 0 %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-enhanced text-white" href="{% url 'item:item_add' %}">Add Products</a>
                    </li>
                    {% endif %}
                    {% if user.role == 2 %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-enhanced text-white" href="{% url 'cart:view_cart' %}">Cart</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-enhanced text-white" href="{% url 'logout_view' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-enhanced text-white" href="{% url 'ticket:list_ticket' %}">Ticket</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-enhanced text-white" href="{% url 'login_view' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>